extends layout

block content
    div.status
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Status</th>
                    <th>Completion</th> 
                    <th>Time Remaining</th>
                    <th>Location</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                each row, i in teams
                    - var time = row['timeRemaining']
                    tr
                        td= i+1
                        td= row['status']
                        td= row['completion']+'%'
                        td= Math.floor(time/3600)+' Hours '+Math.floor((time%3600)/60)+' Minutes'
                        td= row['location']
                        td
                            button details
        </table>