extends layout

block content
  div.profile
    h1= title
    p Welcome to #{title}
    div.imgcontainer
        if user['image']
            img(src='data:image/jpeg;base64,' + user['image'].toString('base64'))
        else
            img(src='/photos/EmptyProfile.png')

        form(action=imageForm method='post' enctype='multipart/form-data')
            p Change Profile Picture
            input(type='file' name='image' accept='image/jpeg')
            button(type='submit') update picture
    br
    div.Bio    
        p Name: #{user.firstName} #{user.lastName}
        p Bio:
        form(action=bioForm method='post')
            textarea(name='userBio') #{user.bio}
            button(type='submit') update bio